<div class="page-header">
  <h1><%= Headword.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Headword.human_attribute_name(:id) %></th>
      <th><%= Headword.human_attribute_name(:word) %></th>
      <th><%= Headword.human_attribute_name(:part_of_speech) %></th>
      <th><%= Headword.human_attribute_name(:definition) %></th>
      <th><%= t('helpers.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @headwords.each do |headword| %>
      <tr>
        <td><%= link_to headword.id, headword %></td>
        <td><%= headword.word %></td>
        <td><%= headword.part_of_speech %></td>
        <td><%= headword.definition %></td>
        <td>
          <%= link_to t('helpers.links.edit'), edit_headword_path(headword), class: 'btn btn-primary btn-sm' %>
          <%= link_to t('helpers.links.destroy'), headword, method: :delete, data: { confirm: t('helpers.links.confirm') }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('helpers.links.new'), new_headword_path, class: 'btn btn-primary' %>
