<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @headword.word %>
</p>

<p>
  <strong>Part of speech:</strong>
  <%= @headword.part_of_speech %>
</p>

<%= link_to 'Edit', edit_headword_path(@headword) %> |
<%= link_to 'Back', headwords_path %>
