<div class="page-header">
  <h1><%%= <%= singular_table_name.classify %>.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%%= <%= singular_table_name.classify %>.human_attribute_name(:id) %></th>
      <%- attributes.each do |attribute| -%>
      <th><%%= <%= singular_table_name.classify %>.human_attribute_name(:<%= attribute.column_name %>) %></th>
      <%- end -%>
      <th><%%= t('helpers.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= model_resource_name %>| %>
      <tr>
        <td><%%= link_to <%= model_resource_name %>.id, <%= model_resource_name %> %></td>
        <%- attributes.each do |attribute| -%>
        <td><%%= <%= model_resource_name %>.<%= attribute.column_name %> %></td>
        <%- end -%>
        <td>
          <%%= link_to t('helpers.links.edit'), edit_<%= singular_route_name %>_path(<%= model_resource_name %>), class: 'btn btn-primary btn-sm' %>
          <%%= link_to t('helpers.links.destroy'), <%= model_resource_name %>, method: :delete, data: { confirm: t('helpers.links.confirm') }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <%% end %>
  </tbody>
</table>

<%%= link_to t('helpers.links.new'), new_<%= singular_route_name %>_path, class: 'btn btn-primary' %>
